@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  --brand-blue: #007bff;
  --brand-lightblue: #4da3ff;
  --brand-darkblue: #0056b3;
  --brand-midblue: #0066cc;
  --brand-orange: #fd6a3e;
}
